*.log
*.pot
*.pyc
db.sqlite3
media

*.bak

.coverage
.coverage.*
.pytest_cahce/

env/
.env
.vscode/*
!.vscode/settings.json 
!.vscode/tasks.json 
!.vscode/launch.json 
!.vscode/extensions.json 
.history

*.egg-info
*.py[co]
.tox/
__pycache__
MANIFEST
dist/
docs/_build/
docs/locale/
node_modules/
tests/coverage_html/
tests/.coverage
build/
tests/report/